{% extends 'base.html.twig' %}

{% block title %}New Alimentations{% endblock %}

{% block body %}
    <h1>Create new Alimentations</h1>

    {{ include('alimentations_manager/_form.html.twig') }}

    <a href="{{ path('alimentations_manager_index') }}">back to list</a>
{% endblock %}
